@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    margin: 0;
    background: #ffff;
    font-family: 'Poppins', sans-serif;
}
.title{
    text-align: center;
    margin: 4rem ;
    color: rgb(88, 88, 88);
}
#descrip{   
    width: 55ch;
    max-width: fit-content;
    font-size: small;
    margin: 0 auto;
    color: rgb(192, 192, 192);
}

#lighter{
    font-weight: lighter;
}
h1{
    line-height:1rem ;
    white-space: nowrap;
}
.tool{
    width: 35ch;
    height: 30vh;
    font-size: smaller;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px rgb(211, 211, 211);
    padding: 1rem 2rem;
    position: relative;
    color: rgb(88, 88, 88);
}
img{
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
}
.tool>p{
    color: rgb(192, 192, 192);
}
.block{
    display: block;
    margin-bottom: ;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    flex-wrap: wrap;
}
.t1{
    border-top:hsl(180, 62%, 55%) 4px solid ;
}
.t2{
    border-top:hsl(0, 78%, 62%) 4px solid ;
    margin-bottom: 3vh;
}
.t3{
    border-top:hsl(34, 97%, 64%) solid ;
}
.t4{
    border-top:hsl(212, 86%, 64%) 4px solid ;
}